# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build
dist/
client/dist/

# Environment variables (TRÈS IMPORTANT)
.env
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
coverage/